.row {
  margin-left: 0;
}

html, body {
  background-color: #2cabe2;
}

.application-container {
  float: none; 
  margin: 0 auto;
  background: #fff;
  border: 1px #ccc solid;
  width: 85%;
}

#new-contestant {
  display: block;
  margin-bottom: 3em;
}

.form-wrapper {
  width: 100%;
  background: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px #d4d4d4 solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

#new-contestant-form,
#new-contest-form {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

form label, form input {
  display: inline;
}


h3 {
  border-bottom: 1px #aaa solid;
  width: 55%;
}

.navbar-inner {
  height: 40px !important;
}

.contestants {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

a.brand {
  color: #c0362c!important;
  font-weight: bold!important;
}

.footer {
  margin-top: 2em;
  position: absolute;
  left: 43%;
}

.navbar-inner {
  border-left: none;
  border-right: none;
}

.fa {
  margin-left:1em;
}
a.contest {
  color: #777;
  text-decoration: none;
}

label {
  display: inline-block;
  float: left;
  padding: 2px 1em 0 0;
}

.format {
  float: left;
  width: 100px;
}

.contestant {
  float:left;
  width: 300px;
}

input[type=submit].btn {
  margin-top: -10px;
  // float: left;
  display: inline-block;
}

input[type=radio] {
  margin: 2px 0 0 2px ;
}

.navbar .nav {
  margin-right: -15px !important;
}

.no-public-contests {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 80%;
}

#new-contestant-form input {
  margin-top: -10px;
}