!!!5
%html
  %head
    = stylesheet_tag("application")
  %body
    .container-fulid
      .row
        .span3.application-container{style: 'float: none; margin: 0 auto;'}
          = yield

    .footer
    = javascript_tag("application")
