!!!5
%html
  %head
    %title SkiRace
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = stylesheet_tag("application")
  %body
    .container-fulid
      .row
        = yield
    .footer
      Oskar Kapusta 2013 &copy;      
    = javascript_tag("application")
